<div *ngIf="users && roles && entreprises && currentUser" class="table">
    <div class="header-admin">
        <div (click)="displayModal()" class="btn-primary">
            <fa-icon [icon]="faPlus"></fa-icon>
            <span> Ajouter un utilisateur </span>
        </div>
    </div>
    <table role="grid">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse mail</th>
                <th>Rôles</th>
                <th>Entreprise</th>
                <th>Accès machines</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td id="redirect-user" [routerLink]="['/utilisateur/'+user.userId]">{{user.nom + ' ' + user.prenom}}
                </td>
                <td>{{user.email}}</td>
                <td>
                    <p-multiSelect optionDisabled="settable" dataKey="roleId" [disabled]="currentUser.userId === user.userId" [style]="{'width': '100%'}"
                        [showToggleAll]="false" [options]="roles" (onChange)="updateUser(user)" [(ngModel)]="user.roles"
                        placeholder="Roles" optionLabel="nom">
                    </p-multiSelect>
                </td>
                <td>
                    <p-dropdown [style]="{'width': '100%'}" (onChange)="updateUser(user)" [(ngModel)]="user.entreprise"
                        placeholder="Entreprises" optionLabel="nom" dataKey="entrepriseId" [options]="entreprises"
                        [showClear]="true">
                    </p-dropdown>
                </td>
                <td>
                    <p-multiSelect [style]="{'width': '100%'}" [showToggleAll]="false"
                        [options]="user.entreprise?.machines!" (onChange)="updateUser(user)" dataKey="machineId"
                        [(ngModel)]="user.machines" placeholder="Machines" optionLabel="nom">
                    </p-multiSelect>
                </td>

            </tr>

        </tbody>

    </table>
</div>

<p-dialog close header="Nouvel utilisateur" styleClass="test" [(visible)]="isModalDisplayed">
    <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="submit()">
        <div class="input-with-label">
            <label for="prenom">Prénom*</label>
            <input autocomplete="off" type="text" formControlName="prenom" name="prenom">
        </div>
        <div class="input-with-label">
            <label for="nom">Nom*</label>
            <input autocomplete="off" type="text" formControlName="nom" name="nom">
        </div>
        <div class="input-with-label">
            <label for="email">Email*</label>
            <input formControlName="email" autocomplete="off" type="text" name="email">
        </div>
        <div class="input-with-label">
            <label for="password">Mot de passe*</label>
            <input autocomplete="off" formControlName="password" type="password" name="password">
        </div>
        <div class="button-submit">
            <button type="submit" class="btn-primary">Créer</button>
        </div>
    </form>
</p-dialog>