/*BLUE*/
$deepblue: #295284;
$darkblue: #3785e0;
$blue: #61aaff;
$lightblue: #86beff;
$lighterblue: #f2f6fa;
$lightGreyBlue: #e6f3ff;
$greyBlue: #B7E3F5;
$improveblue: #aed1f9;
$bluetotalmoney: #3c8dc2;
$bluetotalday: #005797;
$blueicon: #3c8dbc;
$darkblueicon: #004f7e;
$metalicblue: #2A5284;

/*GREY*/
$darkgrey: #74869a;
$grey: #d7d7d7;
$lighgrey: #f2f2f2;
$lightergrey: #f6f7f8;
$darkcloudy: #a5c0e0;
$lightcloudy: #adcef1;
$darkergrey: #646363;
$shadowgrey: #c2c2c2;
$bodyBg: #ecf0f5;
$lightgreyempty: #adadad;
$lightgreyNotif: #ddd;
$lightGreyBorder : #f2f2f2;
$lightGreyInput : #efefef;
$black : #333;

/*WHITE*/
$white: #ffffff;

/*PINK - PURPLE*/
$darkpink: #ff529e;
$lightpink: #ffbab7;
$lightpurple: #d873dc;
$darkpurple: #7e8ffe;
$darkerpurple: #8756d1;
$improvepink: #efd3eb;

/*RED*/
$red: #f22613;
$lightred: #ef6356;
$brightred: #ff0000;

/*ORANGE*/
$darkorange: #f67c13;
$light-orange: #ffd561;
$lightorange: #f7ceae;
$lightyelloworangePrimaryBg: #bd9b3742;
$lightyellowSecondaryBg: #bd9b3770;
$lightyellowAmplified: #bd9b37;

/*YELLOW*/
$darkyellow: #d9b72e;

/*GREEN*/
$darkgreen: #22bbc1;
$green: #36dab7;
$lightgreen: #46f2af;
$improvegreen: #81e1d1;
$greensuccess: #28a745;
