<h1 *ngIf="this.currentCapteur">
  Affichage des données du capteur {{ this.currentCapteur.capteur_nom }} au cours du temps
</h1>
<div>
  <app-mat-date-picker></app-mat-date-picker>
</div>
<div *ngIf="this.isAvailableCapteur">
  <app-mat-chips-autocomplete
    [capteurId]="this.capteurId"
    [machineId]="this.machineId"
    [availableCapteurs]="this.availableCapteurs"
    [currentCapteur]="this.currentCapteur"
  ></app-mat-chips-autocomplete>
</div>

<div>
  <app-line-chart></app-line-chart>
</div>
