<h1 *ngIf="this.currentCapteur">
  Affichage des données du capteur {{ this.currentCapteur.capteurNom }} au cours
  du temps
</h1>
<div class="date-pickers">
  <app-mat-date-picker
    class="date-picker"
    [machineId]="this.machineId"
    [dateType]="'startDate'"
  ></app-mat-date-picker>
  <app-mat-date-picker
    class="date-picker"
    [machineId]="this.machineId"
    [dateType]="'endDate'"
  ></app-mat-date-picker>
  <button class="btn-reset" (click)="resetDate()">
    Réinitialiser les dates
  </button>
</div>
<div *ngIf="this.isAvailableCapteur">
  <app-mat-chips-autocomplete
    [capteurId]="this.capteurId"
    [machineId]="this.machineId"
    [availableCapteurs]="this.availableCapteurs"
    [currentCapteur]="this.currentCapteur"
  ></app-mat-chips-autocomplete>
</div>

<div>
  <mat-tab-group>
    <mat-tab label="Graphique">
      <app-line-chart></app-line-chart>
    </mat-tab>
    <mat-tab label="Tableau">
      <app-capteur-history-table></app-capteur-history-table>
    </mat-tab>
  </mat-tab-group>
</div>
