<div *ngIf="this.capteurHistories !== []">
  <table class="capteur-value-table">
    <tr class="capteur-value-row">
      <th
        class="capteur-value-case"
        scope="col"
        *ngFor="let capteurNom of this.capteursNom"
      >
        {{ capteurNom }}
      </th>
    </tr>
    <tr
      class="capteur-value-row"
      *ngFor="
        let n of numSequence(this.capteurHistories[0].length);
        let i = index
      "
    >
      <td [ngClass]="['capteur-value-case', 'date-releve']">
        <a
          [routerLink]="['/machine/1/capteurs-value']"
          [queryParams]="{
            date: this.capteurHistories[0][i].dateReleve.toString()
          }"
          >{{
            this.capteurHistories[0][i].dateReleve.toString().split("T")[0] +
              " " +
              this.capteurHistories[0][i].dateReleve.toString().split("T")[1]
          }}</a
        >
      </td>
      <td
        class="capteur-value-case"
        *ngFor="
          let m of numSequence(this.capteurHistories.length);
          let j = index
        "
      >
        {{ this.capteurHistories[j][i].capteurValue }}
      </td>
    </tr>
  </table>
</div>
