<h1 *ngIf="currentUser" class="username">{{getUserName()}}</h1>
<div *ngIf="currentUser" class="profile">
    <div class="sub-profile">
        <h2>Identité</h2>
        <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="submit()">
            <div class="input-with-label">
                <label for="prenom">Prénom*</label>
                <input autocomplete="off" type="text" formControlName="prenom" name="prenom">
            </div>
            <div class="input-with-label">
                <label for="nom">Nom*</label>
                <input autocomplete="off" type="text" formControlName="nom" name="nom">
            </div>
            <div class="input-with-label">
                <label for="email">Email*</label>
                <input autocomplete="off" [value]="currentUser.email" type="text" readonly="true" name="email">
            </div>
            <div class="button-submit">
                <button type="submit" class="btn-primary">Modifier</button>
            </div>
        </form>

    </div>

    <div class="sub-profile">
        <h2>Authorisations</h2>
            <div class="input-with-label">
                <label for="roles">Rôles</label>
                <div class="roles" *ngFor="let role of currentUser.roles">
                    <div class="role">{{role.nom| lowercase}}</div>
                </div>
            </div>
            <div class="input-with-label">
                <label for="entreprise">Entreprise</label>
                <input readonly="true" name="entreprise">
            </div>
    </div>
</div>