@import "../../../../variables/colors.scss";
@import "../../../../variables/theme.scss";

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}

h1 {
    margin: 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    overflow: scroll;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 5px 0px 5px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 0px 7px rgb(0 0 0 / 10%);

    img {
        width: 500px;
    }

    .presentation {
        margin-top: 10px;
        text-align: justify;
    }

    &.techno {
        align-items: flex-start;

        h2 {
            margin: 0;
        }
    }
}
